@model Arcanum.Components.ArtistNavViewComponent.ViewModel

@foreach(var artist in Model.Artists)
{
    if (artist.Display)
    {
        <li>
            <a class="nav-link text-dark" asp-area="" asp-page="/Artist" asp-route-name="@artist.Name">@artist.Name</a>
        </li>
    }
}