@page
@model IndexModel
@{
    ViewData["Title"] = Model.MainPage.SiteTitle;
}

<div>
    <div><p>@Model.MainPage.IntroA</p></div>
    <div>
        <partial name="_ArtistNav" />
    </div>
</div>

<div>
    <div><img src="https://via.placeholder.com/260x80" alt="" /></div>
    <div><h3>Recent Posts</h3></div>
    <div>
        <partial name="_RecentImageGallery" />
    </div>
</div>

<div>
    <div><img src="https://via.placeholder.com/260x100" alt="" /></div>
    <div><p>@Model.MainPage.IntroB</p></div>
    <div><img src="https://via.placeholder.com/260x50" alt="" /></div>
</div>

@if (User.IsInRole("WizardLord"))
{
    <div>
        <partial name="Admin/_ShowPopUp" />
    </div>
}


@if (User.IsInRole("WizardLord"))
{
    <div class="fullscreen admin-outer mainpage-admin @(Model.ActiveAdmin ? "" : "hide-me")">
        <div class="admin-inner">
            <partial name="Admin/_MainPage" />
        </div>
        <partial name="Admin/_ClosePopUp" />
    </div>
}

