@page
@model Arcanum.Pages.LoginModel
@{
}

<div id="login-page-input">
    <h1>Please login.</h1>
    <form method="post">
        <div><input type="text" name="username" placeholder="username" required class="registration-input-field"/></div>
        <div><input type="password" name="password" placeholder="password" required class="registration-input-field password-current"/></div>
@*            <i class="peek-password-current password-peek-icon">ooo</i>*@
        <div><input type="submit" value="login" class="site-button"/></div>
    </form>
    @if(Model.InValid)
    {
        <p class="invalid-login-message">&#60; Invalid Credentials &#62;</p>
    }
</div>
