@page
@model Arcanum.Pages.LoginModel
@{
}

<h1>Please login.</h1>

<form method="post">
    <div><input type="text" name="username" placeholder="username" required /></div>
    <div><input type="password" name="password" placeholder="password" required class="password-current"/></div><i class="peek-password-current">ooo</i>
    <div><input type="submit" value="login" /></div>
</form>

@if(Model.InValid)
{
    <p>womp womp</p>
}
