@page
@using Arcanum.Pages
@model Arcanum.Pages.RegisterModel

<section id="registration-page">
    <figure>
        <img src=~/images/secret.png alt="grumble grumble troll"/>
    </figure>

    @if (Model.PageState == PageState.Inital || Model.PageState == PageState.NotValid)
    {
        <div id="secret-code-input">
            <form asp-page-handler="ValidateAccessCode" method="post">
                <label>
                    <input type="text"name="code" placeholder="enter access code" />
                    <input type="submit" value="validate code" class="site-button"/>
                </label>
            </form>
        </div>
        @if (Model.PageState == PageState.NotValid)
        {
            <p class="invalid-secret-code-message">&#60; Invalid Access Code &#62;</p>
        }
    }

    @if (Model.PageState == PageState.Confirmed)
    {
        <div id="registration-input">
            <form asp-page-handler="Register" method="post">
                <div>
                    <input type="text" name="username" placeholder="username" required class="username-input registration-input-field"/>
                </div>

                <div>
                    <input type="text" name="email" placeholder="email" required class="email-input registration-input-field"/>
                </div>
                <div>
                    <input type="password" name="password" placeholder="password" required class="registration-input-field password-input password-valid-status" />
                    @*<i class="peek-password-input password-peek-icon">ooo</i>*@
                </div>
                <div>
                    <input type="password" placeholder="re-enter password" required class="registration-input-field password-validator password-valid-status"/>
                    @*<i class="peek-password-validator password-peek-icon">ooo</i>*@
                </div>

                <input type="hidden" asp-for="@Model.ValidCode" value="@Model.ValidCode" />
                <div>
                    <input type="submit" value="Create Account" class="conditional-submit fade-me loader site-button password-valid-status"/>
                </div>
            </form>
            @if (Model.IsRegistrationSuccess == false)
            {
                <p>Registration failed, Reason:</p>
                @foreach (var errors in @Model.RegistrationErrorMessage)
                {
                    <p>@errors</p>
                }
            }
        </div>
    }
</section>
