#registration-page {
    width: 96%;
    max-width: 500px;
    margin: 20px auto;
    padding: 5px;
    background-color: #000;
}

#registration-page img {
    width: 100%;
}

#secret-code-input, #registration-input {
    width: 98%;
    max-width: 500px;
    margin: 20px auto;
}

/* Secret Code Entry */
#secret-code-input h3 {
    text-align: center;
    margin: 20px;
    font-size: 1.4em;;
}

#secret-code-input label {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 70px;
}

#secret-code-input label input:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3em;
}

#secret-code-input label input:last-child {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 20px auto;
}

/* Registration Form */
.valid-form-input {
    border: 3px solid rgb(38, 170, 60);
}

#registration-input form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 60px) 80px;
}

#registration-input form > div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}

#registration-input form > div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
}

#registration-input form > div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
}

#registration-input form > div:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
}

#registration-input form > div:nth-child(6) {
    grid-column: 1/2;
    grid-row: 5/6;
    margin: 10px auto;
}

.registration-input-field {
    width: 100%;
    height: 40px;
    margin: 10px auto;
}