a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  * {
      box-sizing: border-box;
  }
  
  a, a:link, a:visited, a:hover, a:active {
      text-decoration: none;
  }
  
  /* Sticky footer styles */

  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
      margin-bottom: 60px;
  }

  .footer {

      width: 100%;
      white-space: nowrap;
      line-height: 60px;
  } 
 
  /* shared classes */
  .hide-me {
      visibility: hidden;
      height: 0px;
  }
  
  .fade-me {
      opacity: .5;
      pointer-events: none;
  }
  
  .fullscreen-fade {
      position: fixed;
      z-index: 5;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5)
  }

  .format-paragraph
  {
      text-align: left;
      line-height: 1.2em;
      padding: 8px;
  }

  .close-gallery {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    margin: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 15px;
    text-align: center;
    line-height: 29px;
  }
