@page
@model Arcanum.Pages.Admin.SecretLairModel
@{
    ViewData["Title"] = "Secret Lair";
}

@if (User.IsInRole("WizardLord"))
{
    <h1>Secret Lair</h1>

    <partial name="Admin/_UserRoles" />
    <partial name="Admin/_ArtistDisplay" />
    <partial name="Admin/_RegistrationAccess" />
}
