@page
@model Arcanum.Pages.Admin.SecretLairModel
@{
}

<h1>Secret Lair</h1>

<div>
    <p>permissions</p>
    @foreach(var user in Model.Users)
    {
        <div>
            <p>@user.UserName</p>
            <p>@user.Id</p>
            @foreach(var role in user.Roles)
            {
                <p>@role</p>
            }
        </div>
    }
    @foreach(var role in Model.Roles)
    {
        <div>
            <p>@role.Name.</p>
        </div>
    }
</div>