@page
@model Arcanum.Pages.Admin.SecretLairModel
@{
}

@if (User.IsInRole("WizardLord"))
{
    <h1>Secret Lair</h1>

    <partial name="Admin/_UserRoles" />
    <partial name="Admin/_ArtistDisplay" />
}
