@using Arcanum.Pages
@model Arcanum.Pages.ArtistModel

<h2>Update Password</h2>
<form asp-page-handler="UpdateArtistPassword" method="post">
    <div><input type="password" name="currentPassword" placeholder="current password" required class="password-current"/></div>
        <i class="peek-password-current password-peek-icon">ooo</i>
    <div><input type="password" name="newPassword" placeholder="new password" required class="password-input" /></div>
        <i class="peek-password-input password-peek-icon">ooo</i>
    <div><input type="password" placeholder="new password" required class="password-validator" /></div>
        <i class="peek-password-validator password-peek-icon">ooo</i>
    <p class="password-valid-status">X</p>
    <div><input type="hidden" name="userId" value="@Model.UserId" /></div>
    <div><input type="hidden" value="true" class="bypass-email-validation" /></div>
    <div><input type="submit" value="Update Password" class="conditional-submit fade-me loader site-button" /></div>
</form>

@if (Model.PasswordUpdateState == PasswordUpdateState.Success)
{
    <p>password successfully updated</p>
}
else if (Model.PasswordUpdateState == PasswordUpdateState.Failed)
{
    <p>something went wrong</p>
}
