@model Arcanum.Pages.IndexModel

<ul id="artist-nav-body-container">
    @foreach (var artist in Model.Artists)
    {
        @if (artist.Display)
        {
            <li>
                <a asp-page="/Artist" asp-route-artistId="@artist.Id">
                    <div class="artist-nav-button">
                        <div>
                            <div class="artist-nav-image" style="background-image: url(@artist.ProfileImageUri)"></div>
                        </div>
                        <div>
                            <h2>@artist.FirstName</h2>
                        </div>
                    </div>
                </a>
            </li>
        }
    }
</ul>